{% extends 'base.html'%}
{% block content %}
<div class="">
  <div class="jumbotron jumbotron-fluid" style="background-color: beige;">
    <div class="container text-white text-center">
    <h2 class="card-title h1-responsive font-bold" style="color: black;">Welcome to Pitching Place</h2>
      <a class="btn btn-outline btn-md" href=" {{url_for('main.newPitch')}}" ><i class="fas fa-clone left" style="color: brown;" ></i><p class="davy" style="color: blue;">CREATE A PITCH</p></a>
    </div>
  </div>

<h3 class="text-center text-uppercase text-bold">Categories</h3>
<hr>

  <div class="row m-3">
    <div class="col-sm">
      <div class=" card col-sm pt-2">
        <div class="well well-lg p-3" style="text-align: center;">
            <h3 class="">Interviews Pitch</h3>
            <hr>
            <p>A computer program is termed as an organized collection of instructions, which when executed perform a specific task or function. </p>
                <a href="{{url_for('main.displayInterviewCategory')}}" class="btn btn-default btn-center -center">
                View Pitch</a>
        </div>
    </div>
    </div>
    <div class="col-sm">
      <div class=" card col-sm mt-2">
        <div class="well well-lg p-3" style="text-align: center;">
            <h3>Promotion Pitch</h3>
            <hr>
            <p>The process of creating an executable program through code written in a compiled programming language is called compilation. </p>
                <a href="{{url_for('main.displayPromotionCategory')}}" class="btn btn-default btn-center -center">
                View Pitch</a>
        </div>
    </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-sm">
      <div class=" card col-sm mt-2">
        <div class="well well-lg p-3" style="text-align: center;">
            <h3>Product Pitch</h3>
            <hr>
            <p>A bug is a general term used to denote an unexpected error or defect in hardware or software, which causes it to malfunction. </p>
                <a href="{{url_for('main.displayProductCategory')}}" class="btn btn-default btn-center -center">
                View Pitch</a>
        </div>
      </div>
      
    </div>
    <div class="col-sm">
      <div class=" card col-sm mt-2">
        <div class="well well-lg p-3" style="text-align: center;">
            <h3>Pickup Lines Pitch</h3>
            <hr>
            <p>An object is a combination of related variables, constants and other data structures which can be selected and manipulated together.</p>
                <a href="{{url_for('main.displayPickupCategory')}}" class="btn btn-default btn-center -center">
                View Pitch</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
<footer class="page-footer font-small blue-grey darken-3">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/">pitch</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</div>

{% endblock %}